nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}
nav h1 {
  font-size: 1.5rem;
}
