* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans';
}
body {
  background-color: #e3f4fc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
label {
  color: #6c6d6f;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
