@media (max-width: 48rem) {
  #app {
    display: flex;
    flex-direction: column;
    border-radius: 0;

    height: 100%;
  }

  #SecunderyForms {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: normal;
  }
  .SecunderyInput input {
    width: 100%;
  }

  #Calcular {
    width: 100%;
  }

  #Results,
  #textArea {
    border-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media (max-width: 22.5rem) {
  body {
    height: 100%;
  }
}
